/* Details about this page 
--->>  Songs page styling starts from 430 till ...*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    color: white;
}

:root {
    --lightgray: rgb(39, 37, 37);
    --second-gray: rgba(64, 62, 62, 0.517);
    --nav: rgb(27, 27, 27);
    --text-color: rgba(172, 171, 171, 0.938);
    --cheading: #ffffff;
    --cardsectionbg: #121212e5;
    --play-icon-bgcolor: #1ed760;
    --mainbg: #121212;
    --songSectionColor: #a7a7a7;
}

.grey {
    color: var(--text-color);
    font-weight: 500;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 4px;
    position: relative;
}

.phone-menu {
    height: 100%;
    width: 80%;
    background-color: lightseagreen;
    z-index: 9;
    display: none;
    position: relative;
}

 /* .phone-menu {
    display: flex; 
    justify-content: space-between;
    padding: 10px 20px;
    line-height: 2em;
}  */

.phone-menu ul li {
    font-size: 18px;
    list-style: none;
    font-weight: 500;
    padding: 5px 10px;
}

.phone-menu .close-btn {
    position: absolute;
    right: 25px;
    top: 10px;
    font-weight: 500;
    font-size: 26px;
}

.cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;
    z-index: 9;
    opacity: 0;
    scale: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor span {
    font-weight: 500;
}

.left-section {
    width: 24vw;
    margin: 3px;
    position: fixed;
}

.leftTop {
    border-radius: 12px;
    background-color: var(--lightgray);
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftTop .icon {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.807);
    padding: 13px 25px;
    cursor: pointer;
}

.icon span {
    font-size: 16px;
    padding-left: 10px;
    font-weight: 700;
}

.icon .logo {
    padding-left: 0px;
}

.left-bottom {
    width: 100%;
    height: 75vh;
    background-color: var(--lightgray);
    margin-top: 4px;
    border-radius: 12px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 22px;
    color: rgb(215, 215, 215);
}

.left-side {
    font-size: 20px;
}

.left-side  span {
    font-weight: 500;
    padding-left: 8px;
}

.top-row i {
    font-size: 20px;
    color: rgb(199, 186, 186);
    padding: 8px;
}

.left-side:hover {
    color: #fff;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.left-side i:hover {
    color: #fff;
}

.top-row i:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in;
    border-radius: 50%;
    background-color: rgba(82, 79, 79, 0.947);
}

/* .left-bottom-boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */

.box-container {
    width: 100%;
    height: 25vh;
    padding: 5px 8px;
    overflow: auto;
    scrollbar-width: none;
}

.box-container::-webkit-scrollbar {
    display: none;
}

.box {
    width: 100%;
    background-color: var(--second-gray);
    border-radius: 12px;
    margin-top: 20px;
    padding: 12px 8px;
    line-height: 2.5em;
}

.box h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

.box p {
    color: #fff;
    font-size: 13;
    font-weight: 400;
}

.box .btn {
    background-color: #fff;
    color: black;
    border-radius: 50px;
    border: none;
    margin: 10px 0;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 500;
}

.box .btn:hover {
    background-color: #ffffffeb;
    font-size: 17px;
}

.key-words {
    width: 100%;
    padding: 30px 20px;
    line-height: 30px;
}

.key-words span {
    font-size: 13px;
    color: rgba(152, 149, 149, 0.934);
    word-spacing: 10px;
    cursor: pointer;
    font-weight: 500;
    line-height: 20px;
}

.btn button {
    padding: 5px 12px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid rgba(136, 132, 132, 0.91);
    background-color: transparent;
    color: #fff;
    margin: 15px 0;
}

.btn button:hover {
    border-color: #fff;
    font-size: 17px;
}


/* ....................  This is the right section   ......................... */

.right-section {
    width: 74vw;
    margin-left: 6px;
    margin-top: 4px;
    border-radius: 12px;
    background-color: var(--mainbg);
    position: absolute;
    top: 0;
    right: 0;
}

nav {
    width: 100%;
    background-color: var(--nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: sticky;
    top: 0;
    z-index: 9;
} 

.nav-left-btn {
    font-size: 15px;
    color: #fff;
    word-spacing: 23px;
    font-weight: 200;
}

.nav-left-btn i {
    background-color: rgb(18, 18, 18);
    padding: 10px 12px;
    border-radius: 50%;
    color: var(--text-color);
    cursor: pointer;
}

.nav-right-btn {
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

.nav-right-btn div {
    padding: 0 10px;
}

.nav-right-btn .btn1 {
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: var(--text-color);
    padding-right: 20px;
    cursor: pointer;
}

.nav-right-btn .btn2 {
    padding: 12px 28px;
    background-color: #fff;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.nav-right-btn .btn1:hover {
    font-size: 17px;
    color: #fff;
}

.nav-right-btn .btn2:hover {
   font-weight: 700;
   background-color: rgba(255, 255, 255, 0.898);
}

#menu i {
    font-size: 25px;
    opacity: 0;
}

/*  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    CARD SECTION   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.card-section {
    width: 100%;
    background: var(--cardsectionbg);
    padding: 0px 10px;
    /* display: flex;
    justify-content: space-between; */
}

.card-top-texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.card-top-texts h1 {
    font-size: 24px;
    color: var(--cheading);
}

.card-top-texts h5 {
    color: var(--cheading);
    font-size: 13px;
    cursor: pointer;
}
.cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.card {
    width: 16.5vw;
    background-color: #2a2a2a;
    padding: 14px;
    border-radius: 8px;
    position: relative;
}

.card img {
    /* width: 165px; */
    width: 100%;
    height: 23vh;
    border-radius: 8px;
    background-size: cover;
    background-clip: border-box;
}

.card h2 {
    color: var(--cheading);
    font-size: 0.9rem;
    line-height: 1.8rem;
}

.card p {
    font-weight: 500;
    font-size: 12px;
    color: var(--text-color);
    line-height: 1.2rem;
}

.card .play-icon {
    position: absolute;
    right: 22px;
    bottom: 95px;
    background: var(--play-icon-bgcolor);
    border-radius: 50px;
    opacity: 0;
    transition: 0.5s;
}

.card .play-icon i {
    padding: 12px 14px;
    font-size: 23px;
    color: #000;
}


/* ...................   Songs Container  .......................... */

.song-container {
    width: 100%;
    height: 100%;
}

.songTop {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.imageSection img {
    width: 77%;
    padding: 20px;
    border-radius: 24px;
}

.songContents {
    position: absolute;
    left: 15rem;
    bottom: 2rem;
    line-height: 2.5rem;
}

.songContents #playlist {
    margin-right: 20rem;
}

.songContents h1 {
    font-size: 3rem;
    font-weight: 800;
}

.songContents p span {
    text-align: center;
}

.songContents p i {
    font-size: 23px;
    color: #74f874;
}

/* <<<<<<<<<<<<<<<<<<<<<    FOOTER SECTION  >>>>>>>>>>>>>>>>>>>>>>>>>>> */

footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    border-bottom: 1px solid rgba(238, 235, 235, 0.602);
}

footer .contents ul li {
    list-style: none;
}

.contents h2 {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.contents {
    padding: 56px 5px;
    background: transparent;
}

.contents li {
    color: rgba(206, 185, 185, 0.883);
    line-height: 30px;
}

.social-media-icons {
    position: absolute;
    right: 0px;
    top: 50px;
    padding: 0 20px;
}

.social-media-icons i {
    font-size: 20px;
    border-radius: 50px;
    background: #292929;
    padding: 10px 12px;
    color: white;
    margin: 0 5px;
}

.social-media-icons i:hover {
    background-color: rgba(211, 211, 211, 0.609);
}

.bottom-text {
    padding: 18px;
}

.bottom-text p {
    color: rgba(128, 128, 128, 0.633);
    font-weight: 400;
}




/*   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<      SONGS PAGE   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.songContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    mix-blend-mode: difference;
}

.songBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.songLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.songBottom .songLeft i {
    padding: 0 15px;
    cursor: pointer;
}

.songBottom .songLeft .fa-play {
    border-radius: 50%;
    padding: 18px 20px;
    text-align: center;
    color: #000;
    font-size: 20px;
    background-color: var(--play-icon-bgcolor);
}

.songBottom .songLeft .fa-heart {
    font-size: 34px;
    color: var(--text-color);
}

.songBottom .songLeft .fa-ellipsis {
    font-size: 28px;
    color: var(--text-color);
}

.songBottom .songRight {
    cursor: pointer;
    color: var(--text-color);
    font-weight: 400;
}

.songBottom .songLeft {
    height: 14vh;
    width: 20%;
    margin-left: 20px;
}

.songBottom .songLeft .fa-play:hover {
    padding: 19.5px 20.5px;
}

.songBottom .songLeft .fa-heart:hover,
.songBottom .songLeft .fa-ellipsis:hover {
    color: #fff;
}

.songRight span:hover {
    color: #fff;
}

.songsRows .navbar {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: var(--mainbg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px;
    border-bottom: 1px solid #7b7777b0;
}

.songsRows .navbar div span,
.songsRows .navbar div i {
    color: var(--songSectionColor);
    font-size: 14px;
    font-weight: 500;
}

.song-container {
    height: 86vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.song-container::-webkit-scrollbar {
    display: none;
}

.songRow .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.row .title {
    width: 26%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .title img {
    width: 40px;
    border-radius: 4px;
}

.title .texts h4 {
    font-weight: 500;
}

.title .texts span {
    font-weight: 400;
    color: var(--songSectionColor);
    font-size: 16px;
}